// 总容器的最小高度
$container-min-height: 700px;

// layout左侧导航栏的展开宽度
$el-aside-width: 150px;

// layout左侧导航栏的背景颜色
$el-aside-background: #8ecae6;

// layout右侧面包屑的高度
$el-header-height: 50px;

// layout左侧导航栏的logo组件的高度
$logo-height: 50px;
